@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecera{
    padding: 8px 0 5px 15px;
    background-color: rgb(148, 2, 3);
    width: 1000px;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.bolita {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: #ff0102;
    border-radius: 100%;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

.cabecera a {
    color: #ffffff;
    text-decoration: none;
}

.post-container {
    display: flex;
    justify-content: center;
}

.article {
    width: 656px;
}

.wrapped-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.wrapped-top a {
    text-transform: uppercase;
    color: #e60000;
    text-decoration: none;
}

h1.post-title {
    color: #212529;
    font-size: 41px;
    font-weight: 500;
    margin-right: 10px;
    line-height: 1;

}

h2.post-subtitle {
    color: #212529;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-right: 10px;
}

.fuente-container {
    background-color: #eee;
    margin-top: -4px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.fuente {
    font-size: 11px;
    color: #4d4d59;
}

.post-author {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.card-author {
    display: flex;
}

.post-author img {
    border-radius: 7px;
    margin-right: 10px;
    filter: grayscale(100%);
}

.post-author-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}

.post-author-description a {
    color: #1f1f1f;
    font-weight: bold;
    text-decoration: none;
}

.contact-author {
    display: flex;
    list-style: none;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.contact-author li {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    border: 1px solid #1f1f1f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-author li a {
    color: #1f1f1f;
    font-size: 7px;
}

.post-body {
    margin-right: 10px;
}

.publicity {
    padding-top: 5px;
    width: 313px;
    height: 100vh;
    background-color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}

/*Header arriba*/
.banner {
    margin-top: 25px;
    background-color: #ff0102;
    text-align: center;
    padding: 5px 0 15px 0;
}

.banner h1 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: Extrabold;
    letter-spacing: -1.5px;
}

.container-list {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.container-list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #000000
}